.small-hover:hover { opacity: 1 !important; }
.hover-bg-light:hover { background-color: #f8f9fa !important; }

.py-20 { padding-top: 5rem; padding-bottom: 5rem; }
@media (min-width: 576px) {
  .py-sm-28 { padding-top: 7rem; padding-bottom: 7rem; }
}

.text-balance { text-wrap: balance; }

.transition-all { transition-property: all; }
.duration-300 { transition-duration: 300ms; }