APP_NAME=caddfe-training-services
APP_ENV=development
APP_DEBUG=false
APP_URL=http://localhost:8084

DB_HOST=db
DB_PORT=3306
DB_DATABASE=u814177917_caddfe
DB_USERNAME=root
DB_PASSWORD=rootpassword

# Production overrides:
# APP_ENV=production
# APP_DEBUG=false
# DB_HOST=your-production-host
# DB_PASSWORD=your-production-password
# MYSQL_ROOT_PASSWORD=your-production-password
